# Port config
SGLANG_PORT=30000
SGLANG_EMBEDDING_PORT=30001
FASTAPI_PORT=8005
REDIS_PORT=6379
POSTGRES_PORT=5432
MLFLOW_PORT=5000
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
# API Config
NUM_WORKERS=1
# API Key
SERVING_API_KEY=token
FASTAPI_API_KEY=token
UNDATASIO_API_KEY=

# Service name
SERVING_SERVICE_NAME=sglang
EMBEDDING_SERVING_SERVICE_NAME=sglang_embedding
# Model config (Qwen/Qwen3-4B)
MODEL_NAME=Qwen/Qwen3-4B-AWQ
EMBEDDING_MODEL_NAME=Qwen/Qwen3-Embedding-0.6B
GPU_MEM_UTIL=0.6
EMBEDDING_GPU_MEM_UTIL=0.4
# Max 4096 8192
MAX_MODEL_LEN=8192
MAX-NUM-SEQS=16
MAX-NUM-BATCHED-TOKENS=2048

# Postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres123
POSTGRES_DB=retrieval-db
POSTGRES_HOST=postgres

# Minio
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=admin12345

# MLFlow config
MLFLOW_EXPERIMENT_NAME=Experiment
MLFLOW_DEFAULT_ARTIFACT_ROOT=s3://mlflow/artifacts
MLFLOW_S3_ENDPOINT_URL=http://minio:9000